<?xml version="1.0" encoding="utf-8"?>
<robot name="myrobot">
    <link name="base">
        <inertial>
            <origin 
                xyz="0.04551 0.03252 -0.01872"
                rpy="0 0 0" />
            <mass 
                value="2.74378"/>
            <inertia 
                ixx="32.32967581" 
                ixy="4.00728626" 
                ixz="-2.2724921" 
                iyy="27.63184893" 
                iyz="0.21150582" 
                izz="42.47796305"/>
        </inertial> 
        <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0">
            <geometry>
                <mesh 
                    filename="C:\Users\Welcome\Desktop\Version 0.06 (Simulation)\STL files to be imported into the simulation\base.stl" scale="0.001 0.001 0.001"/> 
            </geometry>
            <material
                name="">
                <color 
                    rgba="0.79216 0.81961 0.93333 1"/>
            </material>
        </visual>
        <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh 
                    filename="C:\Users\Welcome\Desktop\Version 0.06 (Simulation)\STL files to be imported into the simulation\base.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
</robot>